html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  font-family: $font-main;
  color: $color-main;
  background-color: $color-backgrounds;
}
.header {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: auto;
  height:auto;
 }
.section {
  display:block;
  color: $white;
  border: 1px dotted red;
  margin: 0 auto;
  padding: 20px;
 }

.container {
  width: 80%;
  height: auto;
  margin: 40px auto;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px dotted $green;
}

$color-headlines: $blue, $purple, $green,
  $red, $orange, $yellow;

h1,h2,h3,h4,h5,h6 {
  font-family: $font-main;
}

.btn {
  display:block;
  color: $white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  margin-right: 10px;
  background-color: $gray;
  transition: 0.3s;
  &:hover {
    // animation: 1s ease-in-out both fade-in;
    background-color: $green;
    color: $darkgray;
    transform: scale(1.1);
    transition: 0.3s;
    
  }
  //border: 1px dashed $green;
  
}
button:focus {
  outline:0;
}

// @for $item from 1 through length($color-headlines) {
//   h#{$item} {
//     color: nth($color-headlines, $item);
//   }
// }
